<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liwang.issdut">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.liwang.application.DutApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.liwang.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.liwang.activity.DetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.liwang.activity.HomeActivity"
            android:theme="@style/AppThemeNotTranslucent"
            android:screenOrientation="portrait">
        </activity>
        <meta-data android:value="a43dda8eb5445f8c5c92df733b8bc8e8" android:name="BUG_HD_SDK_GENERAL_KEY" />
    </application>

</manifest>
